
site_name: geogeeks

theme:
  custom_dir: overrides #-- to override the copyright
  features:
    - content.action.edit
    # Links content tabs. If user selects MacOS on one page, tabs on other pages will also be set MacOS
    - content.tabs.link 
    - navigation.tabs
    - navigation.top
    # Add copy button to code blocks
    - content.code.copy
    # Enable annotations inside code blocks
    - content.code.annotate
    # - navigation.footer
    - navigation.indexes
    # - navigation.sections
    # - navigation.tabs
    # - navigation.top
    # - navigation.tracking
  icon:
    logo: material/console
    edit: material/pencil 
    view: material/eye
  name: material
  palette:
    primary: deep purple
    # primary: custom

site_url: https://tudelft3d.github.io/geogeeks/
repo_url: https://github.com/tudelft3d/geogeeks
edit_uri: edit/main/docs/
repo_name: tudelft3d/geogeeks

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - js/extra.js

plugins:
  - search
  - awesome-pages
#   - mkdocstrings

nav:
  - "Home": 
    - index.md
    - contribute.md
    - (workshop Nov 2023): introdays/index.md
  - Computer & Software:
    - computer/perfectsetup.md
    - computer/filesystem.md
    - computer/terminal.md
    - computer/packagemanager.md
    - computer/bestsoftware.md
  - Programming: 
    - programming/chooselanguage.md
    - programming/collabcode.md
    - programming/debugging.md
  - Python: 
    - python/index.md
    - python/install.md
    - python/pip.md
    - python/pypackages.md
    - python/venv.md
    - python/jupyter.md
  - C++:
    - cpp/install.md
    - cpp/cmake.md
    - cpp/installlibs.md
    - cpp/python2cpp.md
    - cpp/xcode.md
    - cpp/wslclion.md
    - cpp/vcpkgwindows.md
  - Linux:
    - linux/index.md
    - linux/intro.md
    - linux/virtualbox.md
    - linux/ssh.md
    - linux/wsl.md
  - Git:
    - git/index.md
    - git/gitintro.md
    - git/install.md
    - git/goodgit.md
    - git/githubactions.md
  - Research:
    - research/researchtips.md
    - research/msccode.md
    - research/howtogoogle.md
  - Writing:
    - writing/index.md
    - writing/markdown.md    
    - writing/latex.md
    - writing/typst.md
    - writing/references.md
    - writing/latextogether.md
  - Misc:
    - misc/delftblue.md



markdown_extensions:
  - footnotes
  - admonition
  - pymdownx.betterem
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - toc:
      permalink: true # Add permalink symbol to end of headers
  - def_list # Ordered and unordered lists
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  # Content tabs (buttons to show different text based on selected tab)
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.keys # Keyboard keys shortcuts